---
import { Image } from 'astro:assets';
import { glyphMap, type Glyph } from "../utils/spell-compendium/data/glyphs";
import { getMapText } from "../utils/spell-form"
import { toTitleCase } from '../utils/text';

const images = import.meta.glob<{ default: ImageMetadata }>('/assets/glyphs/*.{jpeg,jpg,png,gif}')
const getGlyphText = getMapText(glyphMap);


interface Props {
    glyph: Glyph;
    classes?: string;
}

const { glyph, classes } = Astro.props;

const title = getGlyphText(glyph);
const path = `/assets/glyphs/${glyph}.png`;
---
{
    images[path]
    ? <Image data-bs-toggle="tooltip" data-bs-title={title} data-bs-placement="bottom" class="me-1 glyph" src={images[path]()} alt={`${glyph} glyph`} title={title} width={25} height={25} />
    : <span class="h6 glyph-text me-1">{toTitleCase(title)}</span>
}

<script>
    import { Tooltip } from "bootstrap"
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => Tooltip.getOrCreateInstance(tooltipTriggerEl))
</script>
