---
import { IconPencil, IconArrowLeft, IconArrowRight } from "@tabler/icons-react"
import BaseLayout from "./BaseLayout.astro"
import { editLink } from "../utils/constants"
import Sidebar from "../components/Sidebar.astro";
import { getSidebar, getHeadings, type GenericCollectionEntry, getPreviousEntry, getNextEntry } from "../utils/sidebar";
import type { MarkdownHeading } from "astro";
import Heading from "../components/Heading.astro";

interface Props {
  entry: GenericCollectionEntry;
  headings?: MarkdownHeading[]
}

const { entry, headings = [] } = Astro.props;
const sidebar = await getSidebar(entry);
const formattedHeadings = getHeadings(headings);

const prev = getPreviousEntry(entry, sidebar);
const next = getNextEntry(entry, sidebar);
---

<BaseLayout title={`${entry.data.title} | Ars.Guide`} layout="section docs" sidebar={sidebar} collection={entry.collection}>
    <div class="wrap container-lg" role="document">
        <div class="content">
            <div class="row flex-xl-nowrap">
                <div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
                    <nav class="docs-links" aria-label="Main navigation">
                        <Sidebar sidebar={sidebar}>
                    </nav>
                </div>
                <nav class="docs-toc d-none d-xl-block col-xl-3" aria-label="Secondary navigation">
                  <div class="page-links">
                    {headings.length > 0 && <>
                      <h3>On this page</h3>
                      <nav id="toc">
                        <ul>
                          {formattedHeadings.map(heading => <Heading heading={heading} />)}
                        </ul>
                      </nav>
                    </>}
                  </div>
                </nav>
                <main class="docs-content col-lg-11 col-xl-9">
                    <h1>{entry.data.title}</h1>
                    <nav class="toc-mobile d-xl-none" aria-label="Quaternary navigation">
                      <details>
                        <summary>
                          On this page
                        </summary>
                        <div class="page-links">
                          <nav id="TableOfContents">
                            <ul>
                              {formattedHeadings.map(heading => <Heading heading={heading} />)}
                            </ul>
                          </nav>
                        </div>
                      </details>
                    </nav>
                    <slot />
                    <div class="page-footer-meta d-flex flex-column flex-md-row justify-content-between">
                        <div class="edit-page">
                            <a href={`${editLink}/${entry.collection}/${entry.id}`}>
                                <IconPencil size={16} />
                                Edit this page on GitHub
                            </a>
                        </div>
                    </div>
                    <div class="page-nav d-flex flex-column flex-sm-row">
                      {prev != null && <div class="card w-100">
                        <div class="card-body d-flex">
                          <div class="d-flex flex-column justify-content-center">
                            <IconArrowLeft size={20} />
                          </div>
                          <div class="d-flex flex-column">
                            <div class="text-body-secondary">Prev</div>
                            <a href={`/${prev.entry.collection}/${prev.entry.slug}`} class="stretched-link text-reset text-decoration-none">{prev.entry.data.title}</a>
                          </div>
                        </div>
                      </div>}
                      {prev != null && next != null && <div class="m-2"></div>}
                      {next != null && <div class="card text-end w-100">
                        <div class="card-body d-flex justify-content-end">
                          <div class="d-flex flex-column">
                            <div class="text-body-secondary">Next</div>
                            <a href={`/${next?.entry.collection}/${next?.entry.slug}`} class="stretched-link text-reset text-decoration-none">{next?.entry.data.title}</a>
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <IconArrowRight size={20} />
                          </div>
                        </div>
                      </div>}
                    </div>
                </main>
            </div>
        </div>
    </div>
</BaseLayout>

<style is:global>
  .startup-scripts {
    color: #26b36c !important;
  }

  .client-scripts {
    color: #e67e23 !important;
  }

  .server-scripts {
    color: #b96ad9 !important;
  }

  table {
    margin: 1.5rem 0;
  }

  .footnotes hr {
    display: none;
  }
</style>
